menuconfig WITH_LIBSHIELD
	bool "libShield"

if WITH_LIBSHIELD

config MAX_THREAD_PER_TASK
	int "thread limit per task"
	default 1
	help
	  Maximum number of threads per task

endif

menuconfig WITH_SENTRY
	bool "Sentry Kernel support"
	select BUILD_RUST_MODULES

if WITH_SENTRY
source "$(subprojects)/sentry/Kconfig"
endif
