# SPDX-FileCopyrightText: 2023 - 2024 Ledger SAS
# SPDX-License-Identifier: Apache-2.0

dunamai~=1.16.1
meson~=1.4.0
swig
ninja
kconfiglib~=14.1.0
jinja-cli
svd2json>=0.1.6
dts-utils>=0.2.0
# dtschema
sphinx_rtd_theme
exhale
sphinx-simplepdf
weasyprint
GitPython>=3.1.0
